* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.header {
  background-color: #ddd;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
  }
  &__nav {
    width: 70%;
    padding: 1em 0;
  }
}
.logo {
  max-width: 30%;
  text-align: center;

  &__link {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: black;
    font-size: 2em;
    text-transform: uppercase;
    background-color: #ccc;
    border-radius: 0.5em;
  }

  .menu-toggler {
    display: none;
    cursor: pointer;
  }
}
.menu {
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;

  &__item + &__item {
    margin-left: 0.5em;
  }
  &__link {
    display: block;
    border-radius: 0.4em;
    padding: 0.8em 1em;
    text-decoration: none;
    background-color: #333;
    color: white;
  }
}
.about {
  background-color: #333;
  color: white;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    align-items: center;
    padding: 1.5em 0;
  }
  &__img img {
    width: 100%;
    height: auto;
  }
}
.services {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    margin-bottom: 1em;
    padding: 0.7em;
    border: 1px solid #333;
    text-align: center;
    border-radius: 0.5em;
  }
}
.blog {
  background-color: #333;
  color: white;

  &__inner {
    padding: 1em 0;
  }
  &__post {
    margin-bottom: 1em;
  }
  &__posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
  }
  &__post-img {
    display: block;
    height: 255px;
    object-fit: cover;
  }
  &__excerpt {
    margin: 0;
    padding: 0.7em;
  }
  &__post-link {
    color: white;
    text-decoration: none;
  }
}
.footer {
  text-align: center;
}
